
<ion-content>
  <div class="container">
    <div class="row">
        <div class="bg">
            <div class="finalizada">
              <h3 class="text-center"><ion-icon name="checkmark-circle-outline"></ion-icon><br>Compra finalizada<br>com sucesso!</h3>
              <hr>
              <h3 class="text-center">Apresente esse QR<br>code na portaria!</h3>
              <img class="mx-auto d-block" src="assets/img/qr_code.png" alt="">
              <button class="custom-button mx-auto d-block" routerLink="/menu-evento" color="success">Prosseguir</button>
            </div>
          </div>
    </div>
  </div>
 
  
</ion-content>
