.bg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: transparent linear-gradient(180deg, #9AD24B 0%, #37C34C 100%) 0% 0% no-repeat padding-box;
}

.finalizada{
    margin-top: 40%;
    color: #fff;
}

.custom-button{
    background: #77F23F 0% 0% no-repeat padding-box;
    border-radius: 40px;
    border-color: #77f23f;
    color: #fff;
    font-weight: 400;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    opacity: 1;
    width: 90%;
    margin-top: 5%;
  }