<ion-header>
    <ion-toolbar>
      <ion-title>
          <ion-back-button class="float-left" defaultHref="/home"></ion-back-button>
        <div class="text-center">
          <img src="/assets/img/Logo.png" alt="" />
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header> 

<ion-content>
    <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
              <img class="mx-auto d-block" src="/assets/img/alok-1-760x500.png" alt="" />
          </div>
        </div>  
      </div>

    <div class="container">
      <div class="icons">
          <div class="row">
              <h4 class="col-6 text-center icon"><ion-icon name="wine"></ion-icon><br>Cardapio</h4>
              <h4 class="col-6 text-center icon"><ion-icon name="musical-note"></ion-icon><br>Line-up</h4>
          </div>
          <div class="row">
              <h4 class="col-6 text-center icon"><ion-icon name="information-circle"></ion-icon><br>Informações</h4>
              <h4 class="col-6 text-center icon"><ion-icon name="checkbox"></ion-icon><br>Check-up</h4>
          </div>
      </div>
    </div>
    <div class="qr-code">
      <div class="container">
        <h4 class="text-center">Alok</h4>
        <div class="row">
          <ion-col size="6"><p>Patrocianadores</p></ion-col>
          <ion-col size="6">
            <p class="text-center">Qr-code</p>
            <img class="qr-img mx-auto d-block" src="assets/img/qr_code.png" alt="">
          </ion-col>
        </div>
      </div>
    </div>
</ion-content>
