
<ion-content>
    <div class="logo text-center">
      <img src="/assets/img/logo-login.png" alt="" />
    </div>
    <div id="wave"></div>
  <div class="bg">
  </div>
  <div class="login">
    <ion-input>
        <form class="col-lg-6 offset-lg-3 ">
            <div class="row justify-content-center">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                  <small id="emailHelp" class="form-text text-muted">Não possui uma conta? Cadastre-se.</small>
                </div>                   
            </div>
            <div class="row justify-content-center">
              <button type="submit" routerLink="/home" class="">Entrar</button>
            </div>
            
          </form>
    </ion-input>
  </div>
</ion-content>
