<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title>
      <div class="text-center">
        <img src="/assets/img/Logo.png" alt="" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
    <ion-title>
      <h3 class="text-center">Próximos eventos</h3>
    </ion-title>
    <ion-card class="welcome-card">
      <a routerLink="/detalhes-evento"><img src="/assets/img/bg.png" alt="" /></a>
    </ion-card>
    <ion-card class="welcome-card">
      <img src="/assets/img/inimigos-da-hp.png" alt="" />
 
    </ion-card>
    <ion-card class="welcome-card">
      <img src="/assets/img/thenei.png" alt="" />
      
    </ion-card>
    <ion-card class="welcome-card">
      <img src="/assets/img/fresno.png" alt="" />
     
    </ion-card>
  
</ion-content>
